---
- name: Install age
  community.general.homebrew:
    name: age
    state: present
  when: is_macos

- name: Install age (Ubuntu)
  ansible.builtin.apt:
    name: age
    state: present
  become: yes
  when: is_ubuntu

- name: Decrypt secrets
  ansible.builtin.shell: |
    age --decrypt -i {{ age_key_path }} -o {{ ansible_env.HOME }}/.secrets.yml {{ playbook_dir }}/secrets/secrets.yml.age
  args:
    creates: "{{ ansible_env.HOME }}/.secrets.yml"
  when: age_key_path is defined

- name: Load secrets
  ansible.builtin.include_vars:
    file: "{{ ansible_env.HOME }}/.secrets.yml"
  when: age_key_path is defined

# Now use secrets like {{ ssh_private_key }}, {{ api_tokens }}, etc.