---
- name: Install zsh (Ubuntu)
  ansible.builtin.apt:
    name: zsh
    state: present
  become: yes
  when: is_ubuntu

- name: Install zsh (macOS)
  community.general.homebrew:
    name: zsh
    state: present
  when: is_macos

- name: Check if oh-my-zsh is installed
  ansible.builtin.stat:
    path: "{{ ansible_user_dir }}/.oh-my-zsh"
  register: ohmyzsh

- name: Install oh-my-zsh
  ansible.builtin.shell: |
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/master/tools/install.sh)" "" --unattended
  when: not ohmyzsh.stat.exists

- name: Clone powerlevel10k to oh-my-zsh themes
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "{{ ansible_user_dir }}/.oh-my-zsh/custom/themes/powerlevel10k"
    depth: 1

- name: Set zsh as default shell
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    shell: /bin/zsh
  become: yes

- name: Create .config directory
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config"
    state: directory
    mode: '0755'

- name: Create .zshrc
  ansible.builtin.template:
    src: zshrc.j2
    dest: "{{ ansible_user_dir }}/.zshrc"
    mode: '0644'

- name: Copy p10k config
  ansible.builtin.copy:
    src: p10k.zsh
    dest: "{{ ansible_user_dir }}/.p10k.zsh"
    mode: '0644'