---
- name: Install zsh (Ubuntu)
  ansible.builtin.apt:
    name: zsh
    state: present
  become: yes
  when: is_ubuntu

- name: Install zsh (macOS)
  community.general.homebrew:
    name: zsh
    state: present
  when: is_macos

- name: Install starship prompt
  ansible.builtin.shell: |
    curl -sS https://starship.rs/install.sh | sh -s -- -y
  args:
    creates: /usr/local/bin/starship

- name: Set zsh as default shell
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    shell: /bin/zsh
  become: yes

- name: Create .zshrc
  ansible.builtin.template:
    src: zshrc.j2
    dest: "{{ ansible_user_dir }}/.zshrc"
    mode: '0644'

- name: Create starship config
  ansible.builtin.copy:
    src: starship.toml
    dest: "{{ config_dir }}/starship.toml"
    mode: '0644'